.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}


/*<!--			搜索-->*/
.form-control{
	padding: 0;
}
.form-horizontal{
	padding: 0.336rem 0;
	background: #F1F1F1;
}
.form-horizontal .form-group{
	margin-bottom: 0;
	margin: 0;
	padding: 0;
}
.form-horizontal .form-group .form-control{
	border-radius:0 ;
	border: none;
	box-shadow: initial;
}
.form-horizontal .form-group div{
	position: relative;
}
.form-horizontal .form-group div span{
	display: block;
	position: absolute;
	width: 2.592rem;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../image/sousuo.png) no-repeat 0.5rem center;
	background-size:0.864rem auto;
}
.form-horizontal .form-group input{
	color: #c8c8c8;
	font-size: 0.672rem;
	font-family: pingfang;
	padding-left: 2.3rem;
	height: auto;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.form-horizontal .form-group input::-moz-placeholder{
	color: #c8c8c8;
	font-size: 0.672rem;
}
.form-horizontal .form-group input::-ms-input-placeholder{
	color: #c8c8c8;
	font-size: 0.672rem;
}
.form-horizontal .form-group input::-webkit-input-placeholder{
	color: #c8c8c8;
	font-size: 0.672rem;
}


/*		<!--		地区选择-->*/
.panel-group{

}
#accordionone .panel{
	border-radius:0;
	box-shadow: 0 0 0 rgba(0,0,0,0);
}
#accordionone .panel-default{
	border: none;
	
}
#accordionone .panel-default .panel-heading{
	background: #E9E9E9;
	padding: 10px 0.5rem;
}
#accordionone .panel-default .panel-heading .col-xs-6{
	margin: 0;
	padding: 0;
}
#accordionone .panel-default .panel-heading a span:nth-child(1){
	color: #4a4a4a;
	font-size: 0.816rem;
	font-family: pingfang;
}
#accordionone .panel-default .panel-heading a span:nth-child(2){
	text-align: right;	
	vertical-align: middle;
}
#accordionone .panel-default .panel-heading a span:nth-child(2) img{
	float: right;
	display: block;
	width: 0.8rem;
	margin-top: 0.25rem;
}
#accordionone .panel-collapse .panel-body{
	padding:18px 0 0 0;
	margin:0 0.5rem;
	border-bottom: 1px solid #ddd;
	border-top:none ;
}
#accordionone .panel-collapse .panel-body a {
	display: inline-block;
	border-radius:50%;
	width: 23.5%;
	margin-bottom: 0.768rem;
}
#accordionone .panel-collapse .panel-body a>span:nth-child(1){
	display: block;
	width: 2.756rem;
	margin: auto;
	height: 2.756rem;
	letter-spacing: 2px;
	border-radius:50%;
	text-align: center;
	color: white;
	margin-bottom: 0.5rem;
	border: 1px solid #F5F5F5;
}
#accordionone .panel-collapse .panel-body a>span:nth-child(1) span{
	display: block;
	width: 2.5rem;
	margin: auto;
	height: 2.5rem;
	border-radius:50%;
	line-height: 2.5rem;
	border: 1px solid #969696;
	background: #F7B55E;
	margin-top: 10%;
	transform: translateY(-5%);
}
#accordionone .panel-collapse .panel-body a:nth-child(1)>span:nth-child(1) span{
	background: #F7B55E;
}
#accordionone .panel-collapse .panel-body a:nth-child(2)>span:nth-child(1) span{
	background: #4DA9EB;
}
#accordionone .panel-collapse .panel-body a:nth-child(3)>span:nth-child(1) span{
	background: #17C295;
}
#accordionone .panel-collapse .panel-body a:nth-child(4)>span:nth-child(1) span{
	background: #F7B55E;
}
#accordionone .panel-collapse .panel-body a:nth-child(5)>span:nth-child(1) span{
	background: #17C295;
}
#accordionone .panel-collapse .panel-body a:nth-last-child(-n+2) span span{
	background: none;
}
#accordionone .panel-collapse .panel-body a span:nth-child(1) img{
	width: 0.912rem;
}
.collapse{
	border: none;
}
#accordionone .panel{
	
}
#accordionone .panel-collapse .panel-body a span:nth-child(2){
	display: block;
	margin: auto;
	width: 2.256rem;
	height: 0.576rem;
	text-align: center;
	color: #717171;
	font-size: 0.576rem;
}
#accordionone .panel-collapse .panel-body a:nth-last-child(-n+2) span:nth-child(2){
	opacity: 0;
}





#two .panel{
	border-radius:0;
	box-shadow: 0 0 0 rgba(0,0,0,0);
}
#two .panel-default{
	border: none;
	
}
#two .panel-default .panel-heading{
	background: none;
	/*padding: 10px 0.5rem;*/
	margin: 10px 0.5rem 0 0.5rem;
	padding: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	
}
#two .panel-default .panel-heading .col-xs-6{
	margin: 0;
	padding: 0;
}
#two .panel-default .panel-heading a span:nth-child(1){
	color: #4a4a4a;
	font-size: 0.816rem;
	font-family: pingfang;
}
#two .panel-default .panel-heading a span:nth-child(2){
	text-align: right;	
	vertical-align: middle;
}
#two .panel-default .panel-heading a span:nth-child(2) img{
	float: right;
	display: block;
	width: 0.8rem;
	margin-top: 0.25rem;
}
#two .panel-collapse .panel-body{
	padding:0;
	margin:0 0.5rem;
	border-bottom: 1px solid #ddd;
	border-top:none ;
	overflow: hidden;
}
.panel-group{
	margin-bottom:0;
}
#two .panel-collapse .panel-body ul{
	margin-bottom: 0.336rem;
}
#two .panel-collapse .panel-body ul li{
	width: 100%;
	position: relative;
}
#two .panel-collapse .panel-body ul li a{
	padding-top: 0.456rem;
	padding-bottom: 0.288rem;
	display: block;
	border-bottom: 1px solid #F0F0F0;
}
#two .panel-collapse .panel-body ul li a span{
	display: block;
	color: #4a4a4a;
	font-family: pingfangbold;
	margin-left:1rem;
}
#two .panel-collapse .panel-body ul li a span:nth-child(2){
	display: block;
	color: #7e7e7e;
	font-size: 0.528rem;
	font-family: pingfang;
}


#two .panel-collapse .panel-body ul li div{
	position: absolute;
	top: 0;
	bottom: 0;
	left:100%;
	width: 8rem;
	font-size: 0;
}
#two .panel-collapse .panel-body ul li div button{
	display: inline-block;
	width: 4rem;
	height: 100%;
	border: none;
	font-size: 0.72rem;
	letter-spacing: 2px;
	color: white;
	background: #8AC007;
}
#two .panel-collapse .panel-body ul li div button:nth-child(2){
	background: #D9544F;
}






#three .panel{
	border-radius:0;
	box-shadow: 0 0 0 rgba(0,0,0,0);
}
#three .panel-default{
	border: none;
	
}
#three .panel-default .panel-heading{
	background: none;
	/*padding: 10px 0.5rem;*/
	margin: 10px 0.5rem 0 0.5rem;
	padding: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	
}
#three .panel-default .panel-heading .col-xs-6{
	margin: 0;
	padding: 0;
}
#three .panel-default .panel-heading a span:nth-child(1){
	color: #4a4a4a;
	font-size: 0.816rem;
	font-family: pingfang;
}
#three .panel-default .panel-heading a span:nth-child(2){
	text-align: right;	
	vertical-align: middle;
}
#three .panel-default .panel-heading a span:nth-child(2) img{
	float: right;
	display: block;
	width: 0.8rem;
	margin-top: 0.25rem;
}
#three .panel-collapse .panel-body{
	padding:0;
	margin:0 0.5rem;
	border-bottom: 1px solid #ddd;
	border-top:none ;
	overflow: hidden;
}
.panel-group{
	margin-bottom:0;
}
#three .panel-collapse .panel-body ul{
	margin-bottom: 0.336rem;
}
#three .panel-collapse .panel-body ul li{
	width: 100%;
	position: relative;
}
#three .panel-collapse .panel-body ul li div{
	position: absolute;
	top: 0;
	bottom: 0;
	left:100%;
	width: 8rem;
	font-size: 0;
}
#three .panel-collapse .panel-body ul li div button{
	display: inline-block;
	width: 4rem;
	height: 100%;
	border: none;
	font-size: 0.72rem;
	letter-spacing: 2px;
	color: white;
	background: #8AC007;
}
#three .panel-collapse .panel-body ul li div button:nth-child(2){
	background: #D9544F;
}


#three .panel-collapse .panel-body ul li a{
	padding-top: 0.456rem;
	padding-bottom: 0.288rem;
	display: block;
	border-bottom: 1px solid #F0F0F0;
}
#three .panel-collapse .panel-body ul li a span{
	display: block;
	color: #4a4a4a;
	font-family: pingfangbold;
	margin-left:1rem;
}
#three .panel-collapse .panel-body ul li a span:nth-child(2){
	display: block;
	color: #7e7e7e;
	font-size: 0.528rem;
	font-family: pingfang;
}
