body,html,h1,h2,h3,h4,h5,h6,p,div,ul,li,ol,dt,dd,dl,u,i,a{
	margin: 0;
	padding: 0;
	font-family: pingfang;
}
ul,li,ol{
	list-style: none;
}
img{
	width: 100%;
	height: auto;
}
button{
	outline: none;
}
a{
	text-decoration: none;
}
a:focus,a:active{
	border: none;
	background: none;
}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.clearlr:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.clearlr{
	zoom: 1;
}

@font-face {
	font-family:pingfang;
	src: url("../font/PingFang Medium.ttf");
}
@font-face {
	font-family:pingfangbold;
	src: url("../font/PingFang Bold.ttf");
}




/*<!--		头部-->*/
header{
	background: #393A3F;
	color: #ffffff;
	position: relative;
}
header ul li{
	float: left;
	width: 33.333333%;
	
	height: 2.4rem;
	line-height: 2.4rem;
}
header ul li:nth-child(1) a{
	display: block;
	width: 2.5rem;
	margin-left: 0.5rem;
}
header ul li:nth-child(1) a img{
	display: inline-block;
	vertical-align: middle;
	width: 0.528rem;
}
header ul li:nth-child(2){
	font-size: 0.864rem;
	text-align: center;
	font-family: pingfangbold;
}
header ul li:nth-child(3){
	text-align: right;
}
header ul li:nth-child(3)>a{
	display: block;
	float: right;
	width: 2.5rem;
	margin-right: 0.5rem;
	text-align: right;
}
header ul li:nth-child(3)>a img{
	display: inline-block;
	width: 0.912rem;
	vertical-align: middle;
}
header ul li:nth-child(3) div{
	position: absolute;
	right: 2.5rem;
	top: 2rem;
	background: white;
	box-shadow: 1px 0px 1px #D2D2D2,
				-1px 0px 1px #D2D2D2,
				0px 1px 1px #D2D2D2,
				0px -1px 1px #D2D2D2;
	display: none;
	z-index: 99999;
}
header ul li:nth-child(3) div.active{
	display: block;
}
header ul li:nth-child(3) div a{
	display: block;
	color: #4a4a4a;
	font-size: 0.65rem;
	line-height: initial;
	padding: 0.3rem 0.8rem;
	padding-left: 1.5rem;
}
header ul li:nth-child(3) div a:nth-child(1){
	background: url(../image/mendian.png) no-repeat 0.3rem center;
	background-size:1rem auto;
}
header ul li:nth-child(3) div a:nth-child(2){
	background: url(../image/pianqu.png) no-repeat 0.5rem center;
	background-size:0.7rem auto;
}
header ul li:nth-child(3) div a:nth-child(3){
	background: url(../image/yonghu.png) no-repeat 0.4rem center;
	background-size:1rem auto;
}
header ul li:nth-child(3) div a:nth-child(n+2){
	border-top:1px solid #CECECE;
}

