.container{
	margin: 0;
	padding: 0;
	position: relative;
}
.container img{
	display: block;
	width: 100%;
	height: 100%;
}


.container .con{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.container .con p:nth-child(1){
	font-size: 2.4528rem;
	color: white;
	
	margin-top: 0.8rem;
	margin-left: 1.536rem;
}
.container .con p:nth-child(1) i{
	font-family: pingfangbold;
	text-shadow: 2px 2px 2px black;
}
.container .con p:nth-child(2){
	text-align: center;
	font-size: 1rem;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin-top: 0.2rem;
}
.container .con p:nth-child(2) span{
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5rem;
	font-family:pingfangbold;
	color: #FFA800;
}
.container .con p:nth-child(3){
	text-align: center;
	font-family:pingfangbold;
	margin-top: 3.2rem;
	position: relative;
}
.container .con p:nth-child(3) span{
	display: inline-block;
	font-size: 1.152rem;
	width: 1.3rem;
	color: white;
}
.container .con p:nth-child(3) span:nth-child(1){
	position: absolute;
	left: 45%;
	
}
.container .con p:nth-child(3) span:nth-child(2){
	position: absolute;
	left: 55%;
	top: 2rem;
}
.container .con p:nth-child(3) strong{
	color: #FFA800;
	font-size: 1.5rem;
}




.form-group button{
	font-family: "pingfangbold";
	display: block;
	width: 90%;
	margin: auto;
	border: 1px solid #91E1FF;
	color: #ffffff;
	font-size: 0.864rem;
	letter-spacing: 0.5rem;
	background: none;
}
.form-group button:focus{
	background: none;
}
.form-group:last-child button{
	border: 1px solid #96A0BF;
	color: #96A0BF;
}
.container .con .onediv{
	margin-top: 16rem;
}


.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.btn:active,
.btn:visited{
    outline: none;
    background: none;
    box-shadow: none;
    border: 1px solid #91E1FF;
    color: #ffffff;
    
}
.form-group:last-child button,
.form-group:last-child button:visited,
.form-group:last-child button:focus{
	outline: none;
    background: none;
    box-shadow: none;
    border: 1px solid #91E1FF;
    color: #96A0BF;
}
